:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}




